body {
  background-color: #eb4d55;
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  color: #fb7b6b;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #5f6caf;
  border-width: 5px;
  width: 5%;
}

footer {
  color: #fb7b6b;
  text-align: center;
  padding-top: 10%;
}

/* Title Section */

#title {
  background-color: #522d5b;
  padding: 7% 25%;
  color: #fff;
}

.planet-img {
  position: absolute;
  left: 125px;
  top: 40px;
}

.img-title {
  text-align: center;
}

.txt-title {
  padding-top: 6%;
}

/* Social Section */

#social {
  background-color: #fff;
  text-align: center;
}

.social-box {
  padding: 3%;
}

.img-soc {
  color: #522d5b;
}

.img-soc:hover {
  color: #eb4d55;
}


#education {
  background-color: #eb4d55;
  padding: 7% 15%;
  color: #f6e1e1;
}

#experience {
  background-color: #fff;
  padding: 7% 15%;
  color: #eb4d55;
}
