body {
  background-color: #eb4d55;
  font-family: "Montserrat";
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #fb7b6b;
  text-shadow: 1px 1px 2px black;
}

footer {
  color: #fb7b6b;
  text-align: center;
  padding-top: 10%;
}

/* Title Section */

#title {
  background-color: #522d5b;
  padding: 7% 25% 1% 25%;
  color: #fff;
}
/*
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
*/

.planet-img {
  position: absolute;
  left: 125px;
  top: 40px;
}

.img-title {
  text-align: center;
}

.img-title img{
  filter: drop-shadow(8px 8px 10px black);
}

.txt-title {
  padding-top: 6%;
  background-color: rgba(95,108,175, 0.2);
  border-radius: 8px 2.5rem;
  border: solid;
  border-color: #fb7b6b;
}

.col-btn {
  text-align: center;
  padding-top: 6%;
}

/* Social Section */

#social {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.social-box {
  padding: 3%;
}

.img-soc {
  color: #522d5b;
}

.img-soc:hover {
  color: #eb4d55;
}

#skills {
  padding: 7% 15%;
  background-color: #e7d39f;
}

.skill-title {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  margin-bottom: 3%; 
  color: #eb4d55;
  text-shadow: 1px 1px 2px black;
} 

.skill-img {
  margin: 20px 20px;
  filter: drop-shadow(8px 8px 10px black);
}


#education {
  background-color: #eb4d55;
  padding: 7% 15%;
  color: #f6e1e1;
}

#experience {
  background-color: #fff;
  padding: 7% 15%;
  color: #eb4d55;
}
